@font-face {
  font-family: Roobert;
  src: url('/assets/modules/form-module/Roobert-Regular.otf');
}

@font-face {
  font-family: Roobert;
  src: url('/assets/modules/form-module/Roobert-SemiBold.otf');
  font-weight: bold;
}

.Form {
  font-family: Roobert;
  width: 225px;

  position: absolute;
  height: calc(100% - 75px);
  width: 100%;
  top: 52px;
  left: 0px;
  padding: 8px;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.P {
  font-family: Roobert;
  margin: 8px 4px !important;
}

.Privacy {
  font-family: Roobert;
  // margin-left: 4px;
  // margin-right: 4px;
  margin-top: auto !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.Group {
  font-family: Roobert;
  transition: all 0.3s ease-in-out;
}

.Logo {
  height: 50px;
  margin: 8px;
  background-image: url('/assets/modules/form-module/Logo-black.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Input {
  font-family: Roobert;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgb(125, 125, 125);

  width: 100%;
  height: 25px;

  margin: 4px 0px;
  transition: all 0.3s ease-in-out;
}

.Input.InputError {
  box-shadow: 0px 0px 4px 0px #d41313;
}

.Button {
  font-family: Roobert;
  width: 100%;
  height: 25px;
  color: white;
  background-color: #3276ea;
  border-radius: 5px;
  border: 0px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-top: 8px;
  cursor: pointer;
  margin-top: 8px;
}

.Disabled {
  cursor: default;
  background-color: #4a505738;
}

.Error {
  font-family: Roobert;
  text-align: right;
  color: #d41313;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
